@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style: none;
}
a {
  color: #1d1d1b;
  text-decoration: none;
}
img {
  vertical-align: top;
  border: none;
}
body {
  height: 5000px;
  font-size: 16px;
  color: #1d1d1b;
  font-family: "Pretendard";
  line-height: 1;
  font-weight: 400;
  word-break: keep-all;
  overflow-wrap: break-word;
  letter-spacing: -0.4px;
}

.wrap {
  display: block;
  position: relative;
}
/* 고정메뉴 */
.fix-menu {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  background-color: salmon;
}
/* 공통 */
.mt-100 {
  margin-top: 100px;
}
.swiper {
  width: 100%;
  height: 100%;
}

.inner {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1410px;
  margin: 0 auto;
}

.title-ty3 {
}

/* //공통 */

/* 상단 */
.header {
  width: 100%;
  background: #fff;
  z-index: 9999;
  box-shadow: 0px 0px 30px -30px rgba(0, 0, 0, 0.5);
}

.top-banner {
  display: block;
  background-color: #d3233a;
}
.top-banner .inner {
  text-align: center;
  height: 50px;
}
.top-banner .inner > a {
  display: inline-block;
  line-height: 50px;
  width: 100%;
  height: 100%;
  height: 50px;
  font-size: 18px;
  color: #fff;
  letter-spacing: normal;
}
.top-banner-close {
  position: absolute;
  top: 50%;
  right: 0;
  width: 15px;
  height: 15px;
  transform: translateY(-50%);
  background: url(../image/icon_remove_15.png) no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: pointer;
}
/* 헤더 상단 */
.h-top {
  position: relative;
  display: block;
  background: #fff;
  padding: 39px 0 29px 0;
  text-align: center;
}

.h-top-utils {
  position: absolute;
  display: flex;
  right: 0;
  top: 50%;
  transform: translateY(-35%);
  text-align: center;
}
.h-top-utils li {
  padding-left: 15px;
}
.h-top-utils li > a {
  margin-left: 15px;
  font-size: 14px;
  line-height: 32px;
}
.h-top-utils li::before {
  content: "";
  position: absolute;
  top: 50%;
  height: 12px;
  border-left: 1px solid #e4e4e4;
  transform: translateY(-50%);
}
.h-top-utils li:first-child {
  padding-left: 0px;
}
.h-top-utils li:first-child::before {
  content: none;
}

/* 헤더 하단*/
.h-bottom {
  position: relative;
  display: flex;
  justify-content: space-between;
  background: #fff;
}
.header-b-left {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}
.cate {
  height: 75px;
  line-height: 75px;
}
.cate-bt {
  padding-left: 32px;
  box-sizing: content-box;
  position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.cate-bt > span {
  font-family: "Pretendard";
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
}
.cate-bt::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 22px;
  height: 2px;
  background-color: #1d1d1b;
}
.cate-bt::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 22px;
  height: 2px;
  background-color: #1d1d1b;
}
.cate-bt span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 22px;
  height: 2px;
  background-color: #1d1d1b;
  transform: translateY(-50%);
}

/* 전체메뉴 */
.cate-list {
  position: absolute;
  display: none;
  top: 75px;
  left: 0;
  width: 240;
  height: calc(100vh - 175px);
  max-height: 780px;
  background: #fff;
  z-index: 10;
}
.cate-list.active {
  display: block;
}
.depth1 {
  overflow: auto;
  width: 240px;
  height: 100%;
  padding: 15px 0;
  background: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 0 0 0 10px;
}

.mainCategory {
  display: block;
  font-size: 16px;
  font-weight: 300;
  padding: 12px 20px;
  line-height: 1.55;
}
.mainCategory:hover {
  color: #d3233a;
  font-weight: 400;
}

.subCategory {
  position: absolute;
  display: none;
  top: 0;
  left: 100%;
  overflow: auto;
  width: 240px;
  height: 100%;
  padding: 15px 0;
  background: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 0 0 10px 0;
}
.subCategory li a {
  display: block;
  font-size: 16px;
  font-weight: 300;
  padding: 12px 20px;
  line-height: 1.55;
}
.subCategory li a:hover {
  background: #fafafa;
  color: #d3233a;
  font-weight: 400;
}
.gnb {
  display: flex;
  margin-left: 100px;
}
.gnb > li {
  margin-left: 90px;
}
.gnb > li:first-child {
  margin-left: 0px;
}
.gnb > li > a {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
}
.gnb > li > a:hover {
  color: #d3233a;
}
.header-b-right {
  display: flex;
  align-items: center;
}
.input-wrap {
  position: relative;
  display: flex;
  width: 350px;
  height: 45px;
  align-items: center;
  border-radius: 25px;
}

.input-wrap > input {
  background-color: transparent;
  font-size: 16px;
  width: 100%;
  height: 100%;
  padding: 0px 30px;
  border: 0;
  border-radius: 25px;
  border: 1px solid #ddd;
  outline: none;
  transition: all 0.3s;
}
.input-wrap > input:hover {
  border: 1px solid #1d1d1b;
}
.input-wrap > input::placeholder {
  letter-spacing: -0.4px;
  color: #ddd;
}
.input-wrap > input:focus {
  border: 1px solid #1d1d1b;
}
.search-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  border: none;
  width: 21px;
  height: 21px;
  background: url("../image/icon_search_21.svg") no-repeat;
  background-size: contain;
  font-size: 0;
  cursor: pointer;
}
.mypage {
  width: 30px;
  height: 30px;
  margin-left: 30px;
  background: url("../image/icon_my.svg") no-repeat;
  font-size: 0;
}
/* 비주얼 슬라이더 */
.visual {
  width: 100%;
  height: 610px;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 610px;
  object-fit: cover;
}
.visual-control {
  position: absolute;
  bottom: 25px;
  right: 0;
  display: flex;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.5);
  z-index: 99;
}
.visual-play {
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border: none;
}
.visual-play::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(50% + 2px);
  width: 2px;
  height: 12px;
  background: #fff;
  transform: translateY(-50%);
}
.visual-play::before {
  content: "";
  position: absolute;
  top: 50%;
  right: calc(50% + 2px);
  width: 2px;
  height: 12px;
  background: #fff;
  transform: translateY(-50%);
}

.visual-pg {
  font-size: 14px;
  line-height: 35px;
  text-align: center;
  width: 75px;
  height: 35px;
  border-radius: 35px;
  background-color: rgba(0, 0, 0, 0.5);
}
.swiper-pagination-current {
  font-weight: 700;
  color: #fff;
}

.brand-list {
  margin-top: 130px;
}
.brand-list ul {
  display: flex;
  justify-content: space-between;
  margin: 0 75px;
}
.brand-list ul li a img {
  width: 90px;
  height: 90px;
}

.brand-list ul li a span {
  display: block;
  text-align: center;
  margin-top: 11px;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  color: #333;
}

.brand-list ul li:hover span {
  font-weight: 700;
  transition: 0.3s;
}
